.main-nav {
  display: flex;
  background-color: #000000;
  width: 100%;
}

.home-img {
  height: 70px;
  transition: ease all 0.4s;
  margin-left: 10px;
  margin-right: 55px;
  margin-top: 6px;
}
.home-img:hover {
  height: 80px;
}

.navlist {
  height: 80px;
  display: flex;
  align-items: center;
}
.navlist > .nav-button {
  margin-left: 10px;
  margin-right: 10px;
}
.navbtns {
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-button {
  list-style: none;
  font-family: "geologica", sans-serif;
  text-decoration: none;
  padding: 1em;
  color: white;
  transition: ease all 0.4s;
}

.nav-button:hover {
  margin-bottom: 0.5em;
  color: #fff;
  border-bottom: 2.5px solid #ffffff;
}
.main-nav {
  justify-content: space-between;
}

.palca {
  background-color: white;
  color: white;
  height: 40px;
  width: 2px;
  margin: 15px;
}

.user-bar {
  margin-right: 30px;
  display: flex;
  background-color: #000000;
  border: none;
}
.user-bar:hover {
  cursor: pointer;
}
.user-icon {
  width: 40px;
  border-radius: 20px;
  border: solid 1px white;
}

.name-navbar {
  color: #fff;
  font-family: "Popins", sans-serif;
  margin: 20px 0px 0px 10px;
  font-size: 15px;
}
