{% extends 'echoApp/base.html' %} {% block styles%} {% load static %}
<link rel="stylesheet" href="{% static 'css/summary.css'%}" />
{% endblock %} {% block container%}
<div style="display: flex; justify-content: center">
    <div class="container">
        <form>
            <div class="company">

            </div>

            <h3>Python Developer<br>
            Джульетта Бандзеладзе<br>
            +375663638134</h3>

        <div class="box">
            <p>fduijiokwshngoi;dfthjdlefkwhgbujdwgi;lu<br>
                fduijiokwshngoi;dfthjerftgherfthjerfht<br>
                fduijiokwshngoi;dfthjrejthertjhfrhjerh<br>
                fduijiokwshngoi;dfthjrehjtsfrthtrfhssrfh<br>
                fduijiokwshngoi;dfthjrehjtsfrthtrfhssrfh<br>
                fduijiokwshngoi;dfthjrehjtsfrthtrfhssrfh<br>
                fduijiokwshngoi;dfthjrehjtsfrthtrfhssrfh<br>
            </p>
        </div>
        </form>

        <input type="button" class="btn" value="Удалить резюме">
        <input type="button" class="btn1" value="Изменить резюме">
    </div>
    </div>
{% endblock %}
